@use "normalize.css";
@use "header.scss";
@use "footer.scss";
@font-face {
  font-family: ArialMT;
  src: url("/fonts/ArialMT.woff2");
}

body{
  background-color: #e4e1e4;
}
#app{
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.main-content{
  flex-grow: 1;
  overflow: auto;
  width: 980px;
  min-height: 100%;
  margin: 0 auto;
}

/* Top Article (Eaten berry) */
.top-article{
  height: 240px;
  padding-left: 37px;
  background-image: url("images/top-slider.png");
}
.eaten-berry{
  padding-top: 38px;
  h2{
    margin: 0;
    color: #a5adb8;
    font-size: 30px;
    font-family: Arial, sans-serif;
    &::first-letter{
      color: #ae4b5d;
    }
  }
  span{
    color: #282d33;
    font-size: 18px;
    font-family: Arial, sans-serif;
    font-weight: bold;
    line-height: 18px;
  }
}
.good-weather{
  padding-left: 2px;
  margin-top: 14.5px;
  width: 490px;
  font-family: Arial, sans-serif;
  span{
    font-size: 18px;
    font-weight: bold;
    color: #a5adb8;
  }
  p{
    margin: 5px 0 0 0;
    font-size: 14px;
    color: #d9dcdf;
    line-height: 1.27;
    word-spacing: 0.5px;
  }
}

/* Main navigation */
.main-nav{
  height: 36px;
  background-color: #95161f;
  display: flex;
  justify-content: flex-end;
  ul{
    height: 36px;
    width: 669px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 21px 0 0;
    padding: 0;
    list-style: none;
    font-size: 16px;
    font-family: Arial, sans-serif;
    font-weight: bold;
  }
  a{
    text-decoration: none;
    color: #fff;
    &:hover{
      text-decoration: underline #fff;
    }
    &:active{
      color: blue;
      text-decoration: underline blue;
    }
  }
}

/* Breadcrumbs */
.breadcrumbs{
  background-color: #f1f1f2;
  height: 26px;
  ul{
    display: flex;
    align-items: center;
    padding: 0;
    margin: 1.5px 0 0 23px;
    width: 170px;
    list-style: none;
    a{
      font-family: ArialMT, sans-serif;
      font-size: 11px;
      color: #95161f;
      text-underline-offset: 2px;
    }
  }
}
#this-page{
  color: #6b6f74;
  text-decoration: none;
}
.slash{
  color: #6b6f74;
  font-weight: bold;
  font-size: 11px;
  padding-left: 2px;
  padding-right: 2px;
  padding-top: 4px;
}
.slash2{
  color: #6b6f74;
  font-weight: bold;
  font-size: 11px;
  padding-left: 3px;
  padding-right: 2px;
  padding-top: 4px;
}


/* Central block */
.central-block{
  display: flex;
}
.central-block_content{
  margin-left: 28px;
}
/* Aside (Contact Form and HeadLine) */
aside{
  width: 213px;
  margin-top: 19px;
  margin-left: 22px;
  font-family: Arial, sans-serif;
  article{
    h2{
      margin: 23px 0 0 0;
      color: #282d33;
      font-size: 18px;
      font-weight: bold;
    }
    p{
      margin: 5px 0 0 0;
      height: 131px;
      color: #5c646e;
      font-size: 12px;
      width: 215px;
      line-height: 1.67;
      word-spacing: 0.1rem;
    }
    a{
      display: inline-block;
      margin-left: 1px;
      margin-top: 19px;
      color: #95161f;
      font-size: 12px;
    }
  }
}
.form_contact-us{
  width: 213px;
  height: 410px;
  padding-left: 12px;
  padding-right: 15px;
  border: solid 1px #d8dbde;
  background-color: #f3f3f3;
  box-sizing: border-box;
  h2{
    margin-top: 14px;
    margin-bottom: 16px;
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-size: 18px;
    color: #282d33;
  }
  input, select{
    height: 31px;
    width: 185px;
    box-sizing: border-box;
    background-color: #e3e4e5;
    margin-bottom: 16px;
    padding-left: 8px;
    font-family: ArialMT, sans-serif;
    font-size: 14px;
    color: #757575;
    border: solid 1px #fcfafb;
    border-radius: 3px;
    box-shadow: inset 0px 2px 3px 0 rgba(0, 0, 0, 0.1);
  }
  select{
    padding-top: 2px;
    padding-left: 4px;
  }
  .email{
    margin-bottom: 14px;
    word-spacing: -1px;
  }
  .city{
    margin-bottom: 13px;
  }
  button{
    width: 177px;
    height: 46px;
    border-radius: 0;
    border: 5px solid #fff;
    background-image: linear-gradient(to top, #95161f, #b0252e);
    box-shadow: 0px 5px 5px 0 rgba(0, 0, 0, 0.19);
    color: #fff;
    font-family: ArialMT, sans-serif;
    font-size: 16px;
    text-shadow: 0px 1px 0 rgba(0, 0, 0, 0.75);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
  button:hover {
    background-image: linear-gradient(to bottom, #b0252e, #95161f);
    box-shadow: 0px 8px 15px 0 rgba(0, 0, 0, 0.25);
    transform: translateY(-2px);
  }

  button:active {
    background-image: linear-gradient(to bottom, #7b1019, #9d1d26);
    box-shadow: 0px 4px 8px 0 rgba(0, 0, 0, 0.2);
    transform: translateY(1px);
    border-color: #eee;
  }
}

