@use "normalize.css";
@use "header.scss";
@use "footer.scss";

body{
  background-color: #e4e1e4;
}
#app{
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.main-content{
  flex-grow: 1;
  overflow: auto;
  height: 1319px;
  width: 980px;
  margin: 0 auto;
}

/* Top Article (Eaten berry) */
.top-article{
  height: 240px;
  padding-left: 37px;
  background-image: url("images/top-slider.png");
}
.eaten-berry{
  padding-top: 38px;
  h2{
    margin: 0;
    color: #a5adb8;
    font-size: 30px;
    font-family: Arial, sans-serif;
    &::first-letter{
      color: #ae4b5d;
    }
  }
  span{
    color: #282d33;
    font-size: 18px;
    font-family: Arial, sans-serif;
    font-weight: bold;
    line-height: 18px;
  }
}
.good-weather{
  padding-left: 2px;
  margin-top: 14.5px;
  width: 490px;
  font-family: Arial, sans-serif;
  span{
    font-size: 18px;
    font-weight: bold;
    color: #a5adb8;
  }
  p{
    margin: 5px 0 0 0;
    font-size: 14px;
    color: #d9dcdf;
    line-height: 1.27;
    word-spacing: 0.5px;
  }
}

/* Main navigation */
.main-nav{
  height: 36px;
  background-color: #95161f;
  display: flex;
  justify-content: flex-end;
  ul{
    height: 36px;
    width: 669px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 21px 0 0;
    padding: 0;
    list-style: none;
    font-size: 16px;
    font-family: Arial, sans-serif;
    font-weight: bold;
  }
  a{
    text-decoration: none;
    color: #fff;
    &:hover{
      text-decoration: underline #fff;
    }
    &:active{
      color: blue;
      text-decoration: underline blue;
    }
  }
}

/* Breadcrumbs */
.breadcrumbs{
  background-color: #f1f1f2;
  height: 26px;
  ul{
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0 0 0 24px;
    width: 157px;
    height: 26px;
    list-style: none;
    a{
      font-family: Arial, sans-serif;
      font-size: 11px;
      color: #95161f;
    }
  }
}
#this-page{
  color: #6b6f74;
  text-decoration: none;
}


